<!DOCTYPE html>
<html>
<head>
  <title>RailsOmniauth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <article>
    <header>
      <% if @current_user then %>
        <p><%= @current_user.name %></p>
      <% end %>
      
      <menu type="toolbar">
      <% if @current_user then %>
        <li><%= link_to 'Sign out', session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in with Twitter', '/auth/twitter' %></li>
        <li><%= link_to 'Sign in with Facebook', '/auth/facebook' %></li>
      <% end %>
      </menu>
    </header>
    
    <div>
      <%= yield %>
    </div>
  </article>
</body>
</html>
